

body {
	padding: 1rem;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1044%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1045%26quot%3b)'%3e%3c/rect%3e%3cpath d='M662.54 1089.95C945.74 962.08 981.75 76.06 1363.13 63.29 1744.52 50.52 1859.98 468.69 2063.73 484.49' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M459.7 1267.11C673.44 1267.1 862.9 1235.49 1313.76 1227.67 1764.62 1219.85 1916.17 709.69 2167.82 687.67' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1025.74 1208.29C1239.29 1109.49 1258.94 440.32 1550.49 426.96 1842.05 413.6 1927.92 689.2 2075.25 696.96' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M196.07 1184.35C461.04 1025.8 421.95 161.1 801.82 107.97 1181.68 54.84 1104.69 242.97 1407.56 242.97 1710.44 242.97 1858.16 108.78 2013.31 107.97' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M322.11 1112.28C602.34 1087.95 733.58 544.82 1273.96 512.34 1814.34 479.86 1964.68 90.29 2225.81 80.34' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1044'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='119.44%25' x2='89.06%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1045'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(49%2c 119%2c 209%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"););
}

h1 {
	font-size: 3.815rem;
	color: white;
	.ancizar-sans-<uniquifier> 
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h2 {
	font-size: 1.052rem;
	color: white;
	.ancizar-sans-<uniquifier> 
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h3 {
	font-size: 1.052rem;
	color: black;
	.ancizar-sans-<uniquifier> 
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



p {
	font-size: 1rem;
	color: white;
	.ancizar-sans-<uniquifier> 
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.gridContainer {
	display: grid;
	width: cover;
	height: cover;
	grid-template-columns: repeat(5, 1fr);
	align-content: center;
	gap: .5%;
	
}

.box {
	
	border-radius: 5px;
	border: 4px black; solid;
	text-align: center;
}

.box img {
	max-width: 300px;
	max-height: 800px;
	width: auto;
	height: auto;
}

.btn {
	padding: 0.5rem .5rem;
	border: 1px solid black;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	align-self: first baseline;
}

.btn:active {
	transform: scale(0.9);
}

.modal {
	width: 850px;
	position: fixed;
	top: -100%;
	left: 50%;
	transform: translate(-50%, 20%);
	border: 1px solid #ccc;
	z-index: 2;
	background-color: black;
	border-radius: 10px;
	transition: top 0.5s ease-in-out;
}

.modal-btn{
	background-color: white;
	border: none;
	font-size: 1.5rem;
}

.modal.active {
	top: 15%;
}

.header {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0.5rem 1rem;
	background-color: rgba(0, 0, 0, 0.03);
	border-bottom: 1px solid #ccc;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

#overlay.active{
	display: block;
}

[data-tab-content] {
	display: none;
}

.active[data-tab-content] {
	display: block;
}

.tabs {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
}

.tab {
	cursor: pointer;
	padding: 10px
}

.tab.active {
	background-color: #ccc;
}

.tab:hover {
	background-color: #aaa;
}

.tab-content {
	margin-left: 20px;
	margin-right: 20px;
}